@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");

html * {
    font-family: 'Montserrat', sans-serif;
}

body {
    box-sizing: border-box;
    background-image: url(../image/b1.jpg);
    width: 100%;
    height: 10%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
main > nav {
    display: flex;
    flex-direction: initial;
    background-color: #80F2C2;
    justify-content: space-between;
}

main > nav > a {
    color: #273857;
    font-size: 40px;
    text-decoration: none;
    padding-left: 20px;
}

main > nav > ul {
    display: flex;
    flex-direction: row;
    padding-right: 30px;
    margin-bottom: 0px;
    margin-top: 15px;
}

ul > li > a {
    color: #273857;
    font-size: 20px;
    text-decoration: none;
}

li {
    list-style: none;
    padding-left: 60px;
}

.fa-house {
    margin-right: 4px;
    color: #273857;
}

.fa-square-plus {
    margin-right: 4px;
    color: #273857;
}

/*----------------------------------------------------------------*/

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > section:nth-child(3) > div {
    margin-top: 131px;
}



h1 {
    background: #80F2C2;
    padding: 15px;
}


body > main > section:nth-child(2) > div > h2 {
    font-size: 59px;
    color: #273857;
    margin-top: 18%;
}

#tasks {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;

}

#tasks td, #tasks th {
    border: 1px solid grey;
    padding: 8px;
}

#tasks tr:nth-child(even){background-color: #f2f2f2;}

#tasks tr:hover {background-color: #ddd;}

#tasks th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #80F2C2;
    color: #273857;
}

#tasks > tbody > tr {
    background-color: #F0F0F0;

}

#tasks > thead > tr > th:nth-child(1) {
    width: 50px;
}

#tasks > thead > tr > th:nth-child(2) {
    width: 125px;
}

#tasks > thead > tr > th:nth-child(3) {
    width: 300px;
}

#tasks > thead > tr > th:nth-child(4) {
    width: 110px;

}

#tasks > thead > tr > th:nth-child(5) {
    width: 180px;
}

#tasks > tbody > tr > td:nth-child(1) {
    font-weight: bold;
}

#tasks > tbody > tr > td:nth-child(2) {
    font-weight: bold;
}

#tasks > tbody > tr > td:nth-child(3) {
    font-weight: bold;
}

#tasks > tbody > tr > td:nth-child(4) {
    font-weight: bold;
}

#tasks > tbody > tr > td:nth-child(5) {
    display: flex;
    flex-direction: initial;
    justify-content: space-around;
}

/*-----------------------------------------------------------------*/

.btn-edit {
    border-radius: 3px;
    background: #54CA98;
    padding: 5px 20px;

}

.btn-delete {
    border-radius: 3px;
    background: #FB9076;
    padding: 5px 20px;

}

/* add a new task */

.card {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    margin-top: 5%;
    margin-bottom: 27%;
    background: white;
}

.card-body {
    padding: 20px;
}

.text-add-task {
    color: #273857;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #273857;
    padding-bottom: 10px;
}

#files {
    margin-top: 20px;
    padding-right: 60px;
}


.card-body > form:nth-child(2) > label:nth-child(1) {

    margin-top: 30px;
}

main > section > div > div > form > input[type=text] {
    margin-top: 8px;
    margin-bottom: 8px;
}

.btn {
    border-radius: 3px;
    background: #54CA98;
    padding: 5px 20px;
    margin-top: 30px;
}

.btn-add-task {
    border-radius: 3px;
    background: #54CA98;
    padding: 5px 20px;
    margin-top: 30px;
    border: none;
}

main > section.section-export-data > div > div > form > p > i.fa-solid.fa-file-csv {
    padding-left: 30px;
    padding-right: 25px;
}

i.fa-solid:nth-child(2) {
    padding-left: 10px;
    padding-right: 25px;
}

i.fa-solid:nth-child(3) {
    padding-left: 10px;
    padding-right: 25px;
}


main > section.section-export-data > div > div > form > input {
    border-radius: 3px;
    background: #54CA98;
    padding: 5px 20px;
}

/* footer  */

body > footer {
    background: dimgrey;
}

body > footer > article > ul > li > a {
    color: white;
    margin-left: 8px;
}


body > footer > article > ul > li > i {
    color: white;
}

body > footer > article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > footer > section > p {
    color: white;
}

body > footer > article > ul {
    margin-top: 10px;
    margin-bottom: 0px;
}

body > footer > article > ul > li:nth-child(3) {
    color: white;
}









