<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Edit Task</title>
</head>
<body>

<nav>
    <a class="nav-title" href="">Task Management System</a>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/addTask">Add Task</a></li>
    </ul>
</nav>

<section>
    <div class="card">
        <div class="card-body">
            <h1 class="text-add-task">Edit Task</h1>
            <form th:action="@{/update}" method="post" th:object="${task}">
                <input type="hidden" th:value="${task.id}" name="id">
                <label>Title:</label>
                <input type="text" name="title" th:value="${task.title}" required>
                <label>Description:</label>
                <input type="text" name="description" th:value="${task.description}" required>
                <button class="btn" type="submit">Save</button>
            </form>
        </div>
    </div>
</section>
</body>
</html>